body {
    background-color: #39393b;
    color: #15f4ee;
}

.div-table {
    display: table;
}

.div-row {
    display: table-row;
}

.div-cell {
    display: table-cell;
    width: 16%;
}

.savings {
    background-color: lightseagreen;
}

.debit {
    background-color: mediumvioletred;
}

.notDisplay {
    display: none;
}
.panel {
    width : 200px;
    height: 40px;
    background-color: gray;
}

.visual {
    width: 0%;
    height: 100%;
    background-color: red;
}

.edge {
    margin: 20px;
    border: 2px solid #15f4ee;
    border-radius: 10px;
}


.div-cell {
    text-align: center;
}

input, .graph {
    background-color: #3b444b;
    border: 2px solid #15f4ee;
    border-radius: 10px;
    color: #15f4ee;
}

input:focus {
    background-color: gray;
    border: 2px solid #15f4ee;
    border-radius: 10px;
}

input.graph:focus {
    background-color: gray;
    border: 2px solid #15f4ee;
    border-radius: 10px;
}

button {
    background-color: #3b444b;
    border: 2px solid #15f4ee;
    border-radius: 10px;
    color: #15f4ee;
}

label {
    padding: 5px;
}

.main {
    background-color: #39393b;
    color: #15f4ee;
    border: 2px solid #15f4ee;
    border-radius: 10px;
}

a {
    color: #15f4ee;
    text-decoration: none;
}

a:hover {
    color: #15f4ee;
    text-decoration: none;
}

a:active {
    color: #15f4ee;
    text-decoration: none;
}

a:visited {
    color: #15f4ee;
}

a:focus {
    color: #15f4ee;
    text-decoration: none;
}