.selector-for-some-widget {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

body {
    background-color: #39393b;
    color: #15f4ee;
}

.div-table {
    display: table;
}

.div-row {
    display: table-row;
}

.div-cell {
    display: table-cell;
    width: 16vw;
    font-size: 1rem;
}

.savings {
    background-color: lightseagreen;
}

.debit {
    background-color: mediumvioletred;
    animation: pulse 500ms linear infinite alternate;
}

.notDisplay {
    display: none;
}
.panel {
    width : 300px;
    height: 40px;
    background-color: gray;
}

.visual {
    width: 0;
    height: 100%;
    background-color: #15f4ee;
    border-radius: 5px;
}

.edge {
    border: 2px solid #15f4ee;
    border-radius: 10px;
}


.div-cell {
    text-align: center;
}

input, .graph {
    background-color: #3b444b;
    border: 2px solid #15f4ee;
    border-radius: 10px;
    color: #15f4ee;
}

input:focus {
    background-color: gray;
    border: 2px solid #15f4ee;
    border-radius: 10px;
}

input.graph:focus {
    background-color: gray;
    border: 2px solid #15f4ee;
    border-radius: 10px;
}

button {
    background-color: #3b444b;
    border: 2px solid #15f4ee;
    border-radius: 10px;
    color: #15f4ee;
}

label {
    padding: 5px;
}

.main {
    background-color: #39393b;
    color: #15f4ee;
    border: 2px solid #15f4ee;
    border-radius: 10px;
}

a {
    color: #15f4ee;
    text-decoration: none;
}

a:hover {
    color: #15f4ee;
    text-decoration: none;
}

a:active {
    color: #15f4ee;
    text-decoration: none;
}

a:visited {
    color: #15f4ee;
}

a:focus {
    color: #15f4ee;
    text-decoration: none;
}

.margin-top {
        margin-top: 20px;
    }

@media (max-width: 576px) {
    .no-mini {
        display: none;
    }
}

@media (max-width: 768px) {
    .margin-md {
        margin-top: 20px;
    }
}
/*
@media (min-width: 992px) {
    .to-right {
    text-align: right;
    }
}
*/

@keyframes pulse {
    0%{
         background-color: mediumvioletred;
    }
    100% {
        background-color: purple;
    }
}
