.div-table {
    display: table;
}

.div-row {
    display: table-row;
}

.div-cell {
    display: table-cell;
    width: 75px;
}

.savings {
    background-color: lightgreen;
}

.debit {
    background-color: indianred;
}

.notDisplay {
    display: none;
}